<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <bean id="authenticationServiceBean" class="org.iana.rzm.facade.auth.AuthenticationServiceBean">

        <constructor-arg ref="userManager"/>
        <property name="authenticatorMap">
            <map>
                <entry key="org.iana.rzm.facade.auth.PasswordAuth" value-ref="passwordAuthenticator"/>
                <entry key="org.iana.rzm.facade.auth.SecurIDAuth" value-ref="securIDAuthenticator"/>
            </map>
        </property>

        <!--<property name="manager" ref="userManager"/>-->
    </bean>

    <bean id="passwordAuthenticator" class="org.iana.rzm.facade.auth.PasswordAuthenticator"/>

    <bean id="securIDAuthenticator" class="org.iana.rzm.facade.auth.SecurIDAuthenticator"/>

    <bean id="userManager" class="org.iana.rzm.facade.accuracy.TestUserManager"/>

</beans>