<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../../../../../../../../eiana-web-user/rzm/css/master.css"/>
    </head>
    <body jwcid="$content$">
        <form action="#" name="editSubDomain" jwcid="editSubDomain">
            <span jwcid=@tapestry4lib:GrayContainer>
                <table width="65%" border="0" cellspacing="5" cellpadding="5" class="edit">
                    <tr>
                        <td width="29%" valign="top" class="label green"><NOBR><span jwcid="@FieldLabel" field="component:registryUrl">Registry URL:</span></NOBR></td>
                        <td width="71%" align="right" valign="top"><input jwcid="registryUrl" type="text" name="registryUrl" class="field" onkeypress="return submitOnEnter(event);"/>
                    </tr>
                    <tr>
                        <td width="29%" valign="top" class="label green"><span jwcid="@FieldLabel" field="component:whois">Whois Server:</span></td>
                        <td width="71%" align="right" valign="top"><input jwcid="whois" type="text" name="whois" class="field" onkeypress="return submitOnEnter(event);"/>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <div class="buttonStyle" style="float: right;">
                                <b class="left"></b>
                                <b class="right" style="width: 130px;">
                                    <a href="#" jwcid="save"  class="button" style="padding-left: 13px;">Save Changes &gt;</a>
                                </b>
                            </div>
                            <div class="buttonStyle" style="margin: 0 10px 0 0; float: right;">
                                <b class="leftBlue"></b>
                                <b class="right" style="width: 130px;">
                                    <a href="#" jwcid="cancel"  class="buttonBlue" style="padding-left: 8px;"> &lt; Revert Changes </a>
                                </b>
                            </div>
                        </td>
                    </tr>
                </table>
            </span>
        </form>
    </body>
</html>