<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <!-- dao configuration -->

    <bean id="notificationDAO" class="org.iana.dao.hibernate.HibernateDAO">
        <constructor-arg value="org.iana.notifications.PNotification" type="java.lang.Class"/>
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>

    <bean id="GuardedSystemDomainService"
          class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="proxyInterfaces">
            <list>
                <value>org.iana.rzm.facade.system.domain.SystemDomainService</value>
            </list>
        </property>
        <property name="target">
            <ref bean="GuardedSystemDomainServiceTarget"/>
        </property>
        <property name="transactionManager">
            <ref bean="transactionManager"/>
        </property>
        <property name="transactionAttributeSource">
            <ref bean="transactionAttributeSource"/>
        </property>
    </bean>

    <bean id="GuardedSystemDomainServiceTarget" class="org.iana.rzm.facade.system.domain.GuardedSystemDomainService">
        <constructor-arg ref="userManagerGSDomainS"/>
        <constructor-arg ref="SystemDomainServiceBean"/>
    </bean>

    <bean id="SystemDomainServiceBean" class="org.iana.rzm.facade.system.domain.SystemDomainServiceBean">
        <constructor-arg ref="domainManager"/>
        <constructor-arg ref="userManagerGSDomainS"/>
    </bean>

    <bean id="domainManager" class="org.iana.rzm.domain.DomainManagerBean">
        <constructor-arg ref="domainDAO"/>
        <constructor-arg ref="hostManager"/>
        <constructor-arg ref="domainExporter"/>
    </bean>

    <bean id="domainExporter" class="org.iana.rzm.domain.exporter.DomainExporter">
        <constructor-arg index="0">
            <value>domainExporter.properties</value>
        </constructor-arg>
        <constructor-arg index="1">
            <value>exportedDomains.xml</value>
        </constructor-arg>
    </bean>

    <bean id="hostManager" class="org.iana.rzm.domain.HostManagerBean">
        <constructor-arg ref="hostDAO"/>
    </bean>

    <bean id="hostDAO" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="proxyInterfaces">
            <list>
                <value>org.iana.rzm.domain.dao.HostDAO</value>
            </list>
        </property>
        <property name="target">
            <ref bean="hostDAOTarget"/>
        </property>
        <property name="transactionManager">
            <ref bean="transactionManager"/>
        </property>
        <property name="transactionAttributeSource">
            <ref bean="transactionAttributeSource"/>
        </property>
    </bean>

    <bean id="hostDAOTarget" class="org.iana.rzm.domain.dao.HibernateHostDAO">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>

    <bean id="diffConfig" class="org.iana.rzm.trans.change.DomainDiffConfiguration">
        <constructor-arg ref="hostInstantiator"/>
    </bean>

    <bean id="hostInstantiator" class="org.iana.rzm.trans.change.HostInstantiator">
        <constructor-arg ref="hostManager"/>
    </bean>

    <bean id="noHostDiffConfig" class="org.iana.rzm.trans.change.DomainDiffConfiguration">
        <constructor-arg ref="clonedHostInstantiator"/>
    </bean>

    <bean id="clonedHostInstantiator" class="org.iana.rzm.trans.change.ClonedHostInstantiator">
        <constructor-arg ref="hostManager"/>
    </bean>

    <bean id="userManagerGSDomainS" class="org.iana.rzm.system.accuracy.TestSystemUserManager"/>


    <!--Sterss-->
    <bean id="GuardedSystemDomainServiceStress"
          class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="proxyInterfaces">
            <list>
                <value>org.iana.rzm.facade.system.domain.SystemDomainService</value>
            </list>
        </property>
        <property name="target">
            <ref bean="GuardedSystemDomainServiceTargetStress"/>
        </property>
        <property name="transactionManager">
            <ref bean="transactionManager"/>
        </property>
        <property name="transactionAttributeSource">
            <ref bean="transactionAttributeSource"/>
        </property>
    </bean>

    <bean id="GuardedSystemDomainServiceTargetStress"
          class="org.iana.rzm.facade.system.domain.GuardedSystemDomainService">
        <constructor-arg ref="userManagerStress"/>
        <constructor-arg ref="SystemDomainServiceBeanStress"/>
    </bean>

    <bean id="SystemDomainServiceBeanStress" class="org.iana.rzm.facade.system.domain.SystemDomainServiceBean">
        <constructor-arg ref="domainManagerStress"/>
        <constructor-arg ref="userManagerStress"/>
    </bean>

    <bean id="domainManagerStress" class="org.iana.rzm.domain.DomainManagerBean">
        <constructor-arg ref="domainDAO"/>
        <constructor-arg ref="hostManager"/>
        <constructor-arg ref="domainExporter"/>
    </bean>

    <bean id="userManagerStress" class="org.iana.rzm.system.stress.TestSystemUserManagerStress"/>
    <!---->


    <bean id="domainDAO" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="proxyInterfaces">
            <list>
                <value>org.iana.rzm.domain.dao.DomainDAO</value>
            </list>
        </property>
        <property name="target">
            <ref bean="domainDAOTarget"/>
        </property>
        <property name="transactionManager">
            <ref bean="transactionManager"/>
        </property>
        <property name="transactionAttributeSource">
            <ref bean="transactionAttributeSource"/>
        </property>
    </bean>

    <bean id="domainDAOTarget" class="org.iana.rzm.domain.dao.HibernateDomainDAO">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>

    <!-- database hibernate configuration -->

    <!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName">
            <value>com.mysql.jdbc.Driver</value>
        </property>
        <property name="url">
            <value>jdbc:mysql://localhost/eiana</value>
        </property>
        <property name="username">
            <value>root</value>
        </property>
        <property name="password">
            <value>1q2w3e</value>
        </property>
    </bean>-->

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <!--<property name="dataSource">
            <ref bean="dataSource"/>
        </property>-->
        <property name="configLocation">
            <value>hibernate-facade-system.cfg.xml</value>
        </property>
    </bean>

    <!-- transactional properties -->

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>

    <bean id="transactionAttribute"
          class="org.springframework.transaction.interceptor.DefaultTransactionAttribute">
        <property name="propagationBehaviorName">
            <value>PROPAGATION_REQUIRED</value>
        </property>
        <property name="isolationLevelName">
            <value>ISOLATION_READ_COMMITTED</value>
        </property>
    </bean>

    <bean id="transactionAttributeSource"
          class="org.springframework.transaction.interceptor.MatchAlwaysTransactionAttributeSource">
        <property name="transactionAttribute">
            <ref bean="transactionAttribute"/>
        </property>
    </bean>

    <bean id="userDAO" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="proxyInterfaces">
            <list>
                <value>org.iana.rzm.user.dao.UserDAO</value>
            </list>
        </property>
        <property name="target">
            <ref bean="userDAOTarget"/>
        </property>
        <property name="transactionManager">
            <ref bean="transactionManager"/>
        </property>
        <property name="transactionAttributeSource">
            <ref bean="transactionAttributeSource"/>
        </property>
    </bean>

    <bean id="userDAOTarget" class="org.iana.rzm.user.dao.HibernateUserDAO">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>

    <bean id="guardedSystemTransactionService"
          class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="proxyInterfaces">
            <list>
                <value>org.iana.rzm.facade.system.trans.TransactionService</value>
            </list>
        </property>
        <property name="target">
            <ref bean="GuardedSystemTransactionServiceTarget"/>
        </property>
        <property name="transactionManager">
            <ref bean="transactionManager"/>
        </property>
        <property name="transactionAttributeSource">
            <ref bean="transactionAttributeSource"/>
        </property>
    </bean>

    <bean id="userManager" class="org.iana.rzm.user.UserManagerBean">
        <constructor-arg ref="userDAO"/>
    </bean>

    <bean id="GuardedSystemTransactionServiceTarget"
          class="org.iana.rzm.facade.system.trans.guards.GuardedTransactionService">
        <constructor-arg ref="userManager"/>
        <constructor-arg ref="SystemTransactionServiceBean"/>
        <constructor-arg ref="transactionManagerBean"/>
    </bean>

    <bean id="SystemTransactionServiceBean" class="org.iana.rzm.facade.system.trans.TransactionServiceImpl">
        <constructor-arg ref="userManager"/>
        <constructor-arg ref="transactionManagerBean"/>
        <constructor-arg ref="domainManager"/>
        <constructor-arg ref="detectorService"/>
        <constructor-arg ref="dnsTechnicalCheckBean"/>
    </bean>

    <!-- Technical checks -->

    <bean id="dnsTechnicalCheckBean" class="org.iana.dns.check.DNSTechnicalCheck">
        <property name="domainChecks">
            <list>
                <ref bean="minimumNameServersAndNoReservedIPsCheck"/>
            </list>
        </property>
    </bean>

    <bean id="minimumNameServersAndNoReservedIPsCheck"
          class="org.iana.dns.check.MinimumNameServersAndNoReservedIPsCheck"/>

    <!-- end of technical checks-->

    <bean id="detectorService" class="org.iana.rzm.facade.system.trans.TransactionDetectorImpl"
          scope="session">
        <constructor-arg index="0" ref="userManager"/>
        <constructor-arg index="1" ref="transactionManagerBean"/>
        <constructor-arg index="2" ref="diffConfig"/>
        <aop:scoped-proxy proxy-target-class="false"/>
    </bean>

    <bean id="jbpmInterceptor" class="org.iana.rzm.trans.process.general.springsupport.JbpmInterceptor">
        <property name="processDAO">
            <ref bean="processDAO"/>
        </property>
    </bean>

    <bean id="transactionManagerBean" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="proxyInterfaces">
            <list>
                <value>org.iana.rzm.trans.TransactionManager</value>
            </list>
        </property>
        <property name="target">
            <ref bean="transactionManagerTarget"/>
        </property>
        <property name="transactionManager">
            <ref bean="transactionManager"/>
        </property>
        <property name="transactionAttributeSource">
            <ref bean="transactionAttributeSource"/>
        </property>
        <property name="postInterceptors">
            <list>
                <ref bean="jbpmInterceptor"/>
            </list>
        </property>
    </bean>

    <bean id="faketicket" class="org.iana.rzm.trans.FakeTicketingService"/>

    <bean id="transactionManagerTarget" class="org.iana.rzm.trans.TransactionManagerBean">
        <constructor-arg>
            <ref bean="processDAO"/>
        </constructor-arg>
        <constructor-arg>
            <ref bean="domainManager"/>
        </constructor-arg>
        <constructor-arg>
            <ref bean="diffConfig"/>
        </constructor-arg>
    </bean>

    <!-- Mock Technical Check Helper-->

    <bean id="technicalCheckHelperBean" class="org.iana.rzm.trans.MockTechnicalCheckHelper">
    </bean>

    <bean id="mockTechnicalCheckHelper" class="org.iana.rzm.trans.MockTechnicalCheckHelper">
    </bean>

    <!-- jBPM configuration -->

    <bean id="jbpmObjectFactory"
          class="org.iana.rzm.trans.process.general.springsupport.JbpmSpringObjectFactory">
    </bean>

    <bean id="dbService" class="org.iana.rzm.trans.process.general.springsupport.SpringDbPersistenceServiceFactory">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>

    <bean id="scheduler" class="org.jbpm.scheduler.db.DbSchedulerServiceFactory"/>

    <bean id="jbpmConfiguration"
          class="org.jbpm.JbpmConfiguration">
        <constructor-arg index="0" ref="jbpmObjectFactory"/>
    </bean>

    <bean id="services" class="org.jbpm.svc.Services" scope="prototype">
        <constructor-arg index="0">
            <map>
                <entry key="persistence">
                    <ref local="dbService"/>
                </entry>
                <entry key="scheduler">
                    <ref local="scheduler"/>
                </entry>
            </map>
        </constructor-arg>
    </bean>

    <bean id="default.jbpm.context" class="org.jbpm.JbpmContext" scope="prototype">
        <constructor-arg index="0" ref="services"/>
        <constructor-arg index="1" ref="jbpmObjectFactory"/>
    </bean>

    <bean id="resource.business.calendar" class="java.lang.String">
        <constructor-arg value="org/jbpm/calendar/jbpm.business.calendar.properties"/>
    </bean>

    <bean id="resource.default.modules" class="java.lang.String">
        <constructor-arg value="org/jbpm/graph/def/jbpm.default.modules.properties"/>
    </bean>

    <bean id="resource.action.types" class="java.lang.String">
        <constructor-arg value="org/jbpm/graph/action/action.types.xml"/>
    </bean>

    <bean id="resource.node.types" class="java.lang.String">
        <constructor-arg value="org/jbpm/graph/node/node.types.xml"/>
    </bean>

    <bean id="resource.converter" class="java.lang.String">
        <constructor-arg value="org/jbpm/db/hibernate/jbpm.converter.properties"/>
    </bean>

    <bean id="resource.varmapping" class="java.lang.String">
        <!--<constructor-arg value="eiana-trans.jbpm.varmapping.xml"/>-->
        <constructor-arg value="org/jbpm/context/exe/jbpm.varmapping.xml"/>
    </bean>

    <bean id="jbpmContextFactory"
          class="org.iana.rzm.trans.process.general.springsupport.JbpmContextFactoryBean">
        <constructor-arg index="0" ref="jbpmConfiguration"/>
    </bean>

    <bean id="processDAO" class="org.iana.rzm.trans.dao.JbpmProcessDAO">
        <constructor-arg index="0" ref="jbpmContextFactory"/>
    </bean>

</beans>