<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../../../../../../../../eiana-web-user/rzm/css/master.css"/>
        <title>Root Zone Management</title>
    </head>
    <body jwcid="$content$">
        <div class="mainBox">
            <span jwcid="@tapestry4lib:GrayContainer">
                <table width="95%" border="0" cellspacing="0" cellpadding="0" class="numList">
                    <tr>
                        <td><strong>Confirmations received</strong></td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <span jwcid="noconfirmations">
                                    <tr>
                                        <td colspan="2" align="center"><h3>No Confirmations have been sent yet</h3></td>
                                    </tr>
                                </span>
                                    <tr jwcid="confirmations">
                                        <td>&nbsp; &nbsp; &nbsp; &nbsp;</td>
                                        <td><img src="checkbox_on.png" jwcid="checkboxImage"/>
                                            <span jwcid="confirmation">Admin Contact - "some name"</span>
                                         </td>
                                     </tr>
                             </table>
                         </td>
                     </tr>
                 </table>
             </span>
        </div>
    </body>
</html>