<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../../../../../../../../eiana-web-user/rzm/css/master.css"/>
    </head>
    <body jwcid="$content$">
        <div style="margin: 10px 0 0 0; padding: 10px; border: 1px solid #F8EC00; display: block;" class="grey">
            <h5>We have detected that there are technical problems</h5>
            <table width="85%" borde r="0" cellspacing="0" cellpadding="0">
                <tr jwcid="errors">
                    <td class="alert"><span jwcid="error">This is an error</span></td>
                </tr>
            </table>
        </div>
    </body>
</html>
R