<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../../../../../../../../eiana-web/rzm/css/master.css"/>
    </head>
    <body jwcid="$content$">
        <span jwcid="@If" condition="prop:sortable">
            <a href="#" jwcid="sort"> <strong><span jwcid="header">Domain</span></strong>
                <span jwcid="seeIamge">
                    <span jwcid="sortImage" alt="" border="0" width="15" height="9">
                        <img src="../images/sort_arrow_descending.gif" border="0" alt="" width="15" height="9">
                    </span>
                </span>
            </a>
        </span>
        <span jwcid="@Else">
            <strong><span jwcid="header1">Domain</span></strong>
        </span>
    </body>
</html>