<?xml version="1.0" encoding="UTF-8"?>
<configuration
 xmlns="http://java.sun.com/xml/ns/jax-rpc/ri/config">
  <service name="TechnicalCheck"
   packageName="org.iana.dns.remote"
   targetNamespace="http://www.iana.org/rzm/wsdl"
   typeNamespace="http://www.iana.org/rzm/wsdl">
   <interface name="org.iana.dns.remote.RPCTechnicalCheck"
     servantName="org.iana.dns.remote.RPCTechnicalCheckImpl">
   </interface>
  </service>
</configuration>
