<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
    	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    	<title>IANA  Root Zone Maintenance</title>
	    <link rel="stylesheet" type="text/css" media="screen" href="../../../../../../../../../eiana-web-user/rzm/css/master.css" />
    </head>
    <span jwcid="$content$">
        <body>
            <div id="mainBox" style="margin: 20px 0 40px 40px; width: 70%;">
                <span jwcid="container@tapestry4lib:GrayContainer">
                    <form jwcid="createPassword" class="loginbox">
                        <table>
                            <tr>
                                <td valign="top" class="keylabel"><label jwcid="newPasswordLabel">New Password</label></td>
                                <td align="right" valign="top"><input name="newPassword" jwcid="newPassword" class="field"/></td>
                            </tr>
                            <tr>
                                <td valign="top" class="keylabel"><label jwcid="confirmPasswordLabel">Confirm New Password</label></td>
                                <td align="right" valign="top"><input name="confirmPassword" jwcid="confirmPassword" class="field"/></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td align="right">
                                    <input name="cancel"  type=submit jwcid="@Submit" action="listener:cancel" class="button" value="&lt; Cancel" />
                                    <input name="submit" type=submit jwcid="@Submit" action="listener:changePassword" class="button" value="Proceed &gt;"/>
                                </td>
                            </tr>
                        </table>
                    </form>
                </span>
            </div>
        </body>
    </span>
</html>
