
* {
    margin: 0;
    padding: 0;
}

body {
    background: url(bg-stripe.png ) top repeat-x;
    line-height: 1.3em;
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
	padding: 0 40px 40px 40px;
	color: #424242;
}

TD { font-size: 12px; }

a:link, a:visited {
    color: #235FB3
}
a:hover, a:active { color: #73cff1; }

a.blue:link, a.blue:visited { color: #73cff1; font-weight: bold; }
a.blue:hover, alblue:active { font-weight: bold; color: #235FB3; }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 2.0em;
    margin: 20px 0 15px 0;
	color: #579d4f;
}

h2 {
    font-size: 1.5em;
    margin: 40px 0 15px 0;
}

h3 {
	font-size: 1em;
	font-weight: bold;
	}

h4 {
    font-size: 1.5em;
    margin: 40px 0 3px 0;
	color: #579d4f;
}

h5 {
    font-size: 1.5em;
    margin: 0 0 10px 0;
	color: #579d4f;
}

.marginTop40 { margin-top: 40px; }

.domainLabelBig {
	font-size: 2.0em;
	font-weight: bold;
	}

.domainLabelSmall {
	font-size: 1.3em;
	}

.lastUpdate {
	font-size: 12px;
	color: #999999;
	}

.small-text {
	font-size: 11px;
	}

.label { font-weight: bold; }

.grey { color: #999999; }
.green { color: #579d4f; }
.orange { color: orange; }
.darkBlue { color: #235FB3; }

.alert { color: #E18D89; }
.edited { color: #FBB466; }
.strikethrough { color: #FC9B8E; text-decoration: line-through; }

.errorMessageBox { border: 1px solid #FF0000; }
.errorMessage { color: #FF0000; }
.errorMessageField { width: 350px; color: White; background-color: Red; font-weight: Bold;}
.bordererrorMessageField { width: 200px; color: White; background-color: Red; font-weight: Bold;}
.infoMessageBox { border: 1px solid #009900; }
.infoMessage { color: #009900; }
.warningMessageBox { border: 1px solid #FFCC00; }
.warningMessage { color: #FF9900; }


.links { margin: 10px 0 0 0; height: 15px; }

modified {
    color: red;
    font-weight: bold;
}

strong {
    color: #000;
    font-weight: bold;
}

.numList OL { margin: 10px 0 20px 40px; color: #B7B7B7; }
.numList LI { margin: 4px 0 4px 0; }

/* Specific Colour-codings for the 3 principal areas */

.section-dns h1, h2, h3 {
    color: #579d4f;
}

/* regions */

#main {
    width: 800px;
    margin: 0px auto;
	float: left;
}

#header {
    width: 800px;
    margin: 0 0 20px 0;
}

/* page specific: [rzm-loginpage] */

.edit input.field, textarea.field { width: 350px; }
select.field { width: 185px;}




DIV.error {
    font-weight: bold;
    color: Red;
    border-color: Red;
    border-style: solid;
    padding: 4px;
    width: 500px;
    text-align: left;
    border-width: 2px;
}

SPAN.invalid-field {
    color: Red;
}

INPUT.error {
    color: White;
    background-color: Red;
    font-weight: Bold;
}

DIV.message {
    font-weight: bold;
    color: Blue;
    border-width: 1;
    border-color: Blue;
    border-style: solid;
    padding: 4px;
    width: 500px;
}

SPAN.message {
    font-weight: bold;
    color: Blue;
}

SPAN.error {
    font-weight: bold;
    color: Red;
}

.warning {
    color: orange;
    text-align: center;
}

.info {
    color: green;
    text-align: center;
}

widgettabdocumentation {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    line-height: 28px;
    background-color: #adbccd;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

td.divider {
    background-color: #fff;
    height: 24px;
}

tr.hidden  td, tr.hidden  th { display:none }
span.hidden { display:none } 


